project_id                = "fbi-dev-484410"
region                    = "asia-southeast2"
cloud_sql_instance        = "coms-aha-heroes-db"
domain                    = "coms.ahacommerce.net"
github_repo               = "mrdoorba/coms-portal"
gip_project_id            = "fbi-dev-484410"
gip_auth_domain           = "fbi-dev-484410.firebaseapp.com"
coms_domain               = "coms.ahacommerce.net"
session_cookie_max_age    = "1209600"
sheets_personal_email_id  = "REPLACE_ME"
sheets_personal_email_tab = "REPLACE_ME"
bootstrap_admin_email     = "handers.the@ahacommerce.net"
bootstrap_admin_name      = "Mr. Door"
